<div class="ui grid">

  <div class="fourteen wide column centered">

    <div class="tab header segment">

      <h2 class="ui center aligned header">
        <%= milestone[:title] %>
      </h2>

      <table class="ui celled table unstackable">
        <thead>
          <tr>
            <th>Priority</th>
            <th>Open Issues</th>
            <th>Points</th>
            <th>ETA</th>
            <th>Un-sized</th>
          </tr>
        </thead>
        <tbody>
          <% stats.each do |key, array| %>
            <% unless (key == :no_priority && is_no_priority) %>
            <tr class=<%= key == :no_priority ? 'error' : '' %><%= key == :total ? 'active' : '' %>>
              <td><%= key.to_s.humanize.capitalize %></td>
              <td><%= stats[key][:count] %> issues <%= key == :no_priority ? '<i class="warning sign icon"></i>' : '' %></td>
              <td><%= stats[key][:points] %> pts</td>
              <td><%= stats[key][:points] / 4 %> days</td>
              <td class=<%= stats[key][:no_points] > 0 ? 'error' : '' %>><%= stats[key][:no_points] %> issues <%= stats[key][:no_points] > 0 && key != :total ? '<i class="warning sign icon"></i>' : '' %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>